@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body{
     font-family: "Montserrat", sans-serif;
}

.design-img{
  box-shadow: rgb(255, 204, 65) -17px 13px 0px 8px;
}

.list-product{
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
@media screen and (max-width : 820px) {
     .slider-box{
          height: 800px !important;
     }
     .design-img{
          box-shadow: none;
     }
}

@media screen and (max-width : 620px) {
     .filterMenu{
          flex-direction: column;
     }
      .slider-box{
          height: 900px !important;
     }
}