@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body{
     font-family: "Montserrat", sans-serif;
}
@media screen and (max-width : 820px) {
     .slider-box{
          height: 800px !important;
     }
}

@media screen and (max-width : 620px) {
     .filterMenu{
          flex-direction: column;
     }
      .slider-box{
          height: 900px !important;
     }
}